*{
    margin: 0;
    padding: 0;
}
#nav-bar{
    position: sticky;
    z-index: 99999;
    top: 0;
}
.navbar-brand img{
    height: 40px;
    
    top: 0;
    padding-left: 30px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    float: right;
    text-align: left;
}
.navbar-nav li a:hover{
    color: #007bff!important;
}
.navbar{
    background: #fff;
}
.navbar-toggler{
    border: none!important;
}
.nav-link{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
    
}
/* slider  */
#slider{
    width: 100%;
    

}
.carousel-caption{
    top: 50%;
    transform: translateY(-50%) ; 
    bottom: initial!important;
}
.carousel-caption h5{
    color: black;
    font-size: 42px;
    
}
.carousel-item img{
    width: 100%;
}
/* about */
#about{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
#about .btn{
    margin-top: 40px;
    margin-bottom: 30px;
} 
.about-content{
    padding-top: 20px;
}
.skills-bar p{
    font-weight: 600;
    margin-bottom: 10px;
}
.progress-bar{
    border-radius: 16px!important;
}
.progress{
    border-radius: 16px!important;
}
/* services */
#services{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/person-typing-on-computer-keyboard-2058128.jpg);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
    color: #efefef!important;
}
#services h1{
    text-align: center;
    color: #efefef!important;
    padding-bottom: 10px;
}
#services h1::after{
    content:"" ;
    height: 3px;
    width: 180px;
    background: #efefef;
    margin: 20px auto 5px;
    display: block;
}
.services{
    margin-top: 40px;
}
.icon i{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.services p{
    font-size: 16px;
    margin-top: 20px;
    color: #ccc;
}
.services .col-md-3:hover{
    background: #007bff;
    cursor: pointer;
    transition: all 0.7s ease;

}
/* team members */
#team{
    color: #555;
    padding-top: 50px;
    padding-bottom: 50px;
}
#team h1{
    text-align: center;
    color: #555!important;
    padding-bottom: 10px;
}
#team h1::after{
    content:"" ;
    height: 3px;
    width: 170px;
    background: #007bff;
    margin: 15px auto 5px;
    display: block;
}
.profile-pic{
    margin-top: 25px;
}
.img-box{
    opacity: 1;
    position: relative;
    display: block;


}
.img-box img{
    filter: grayscale(1);
    height: 256px;
    width: 200px;
}
.img-box img:hover{
    filter: grayscale(0);
    cursor: pointer;
}
.profile-pic h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #007bff!important;
}
.profile-pic h4{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    
}
#team .fa{
    height: 25px;
    width: 25px;
    color: #007bff!important;
    background: #fff;
    padding: 4px;
    border-radius: 50%;

}
.img-box ul{
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .5s ease;
    margin-bottom: 120px;

}
.img-box ul li{
    padding: 5px;
    display: inline-block;
    transition: all .5s ease;

}
.img-box:hover ul{
    opacity:1;
}
/* promo */
#promo{
    background-image: linear-gradient(rgba(153, 84, 84, 0.7),rgba(0,0,0,0.7)),url(img/golden-crescent-with-glow-lantern-ramadan-mubarak_22052-1925.jpg);
    background-size:cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
    text-align: center;
    font-family: sans-serif;
    font-size: 38px; 
    padding: 100px;
}
/* price plans */
#price h1{
    text-align: center;
    color: #555!important;
    padding-bottom: 10px;
}
#price h1::after{
    content:"" ;
    height: 3px;
    width: 170px;
    background: #007bff;
    margin: 15px auto 5px;
    display: block;
}
#price{
    padding: 40px 0;
    background: #efefef; 
}
.single-price{
    margin: 10px auto;
    background-color: #fff;
    transition: all .5s ease;
    width: 100%;
}
.single-price:hover{
    box-shadow: 0 2px 20px #333333;
}
.price-head{
    background-color: #2196f3;
    padding: 10px 5px;
    text-align: center;
    width: 100%;
}
.price-head h2{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: uppercase;
}
.price-head p{
    font-size: 25px;
    color: #ccc;
    font-weight: bold;
    line-height: 30px;
}
#price span{
    font-size: 15px;
}
.price-content{
    
    float: left;
    width: 100%;
    padding: 0 15px;
    
    
}
.price-content ul li{
    padding: 15px 10px;
    list-style: none; 
}
ul li:last-child{
    border: none;
}
.fa-check-circle{
    color: green;
    margin-right: 10px;
    font-size: 20px;
}
.fa-times-circle{
    color: red;
    margin-right: 10px;
    font-size: 20px;
}
.price-button{
    
    padding: 15px 15px 30px;
    text-align: center;
    
    
}
.buy-btn{
    background-color: #2196f3;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    padding: 15px 50px;
    
}
.buy-btn:hover{
    border-color: 1px solid #fff;
    background-color: #3f513f;
}
a{
    color: #fff!important;
    text-decoration: none!important;

}
/* testimonial */
#testimonials h1{
    text-align: center;
    color: #555!important;
    padding-bottom: 10px;
}
#testimonials h1::after{
    content:"" ;
    height: 3px;
    width: 190px;
    background: #007bff;
    margin: 15px auto 5px;
    display: block;
}
#testimonials{
    padding-top: 50px;
    padding-bottom: 50px;
}
#testimonials .row{
    margin-top: 30px;
}
.col-md-4{
    margin: 40px auto;  
}
.profile{
    padding: 70px 10px 10px;
    background-color: #efefef;

}
.profile img{
    top: -60px;
    position: absolute;
    left: calc(50% - 60px);
    border: 10px solid #fff;

}
.user{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
.profile h3{
    font-size: 20px;
    margin-top: 15px;
    color: #007bff;
}
#testimonials span{
    font-size:12px ;
    color: #333333;
}
blockquote{
    font-size: 16px;
    line-height: 30px;
}
blockquote::before{
    content: open-quote;
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height: 20px;
    bottom: -15px;
    right: 5px; 
}
blockquote::after{
    content: close-quote;
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height: 10px;
    bottom: -15px;
    left: 5px; 
}
.profile:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: all .5s ease;
}

/* contact */
#contact h1{
    text-align: center;
    color: #555!important;
    padding-bottom: 10px;
}
#contact h1::after{
    content:"" ;
    height: 3px;
    width: 160px;
    background: #007bff;
    margin: 15px auto 5px;
    display: block;
}
#contact{
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}
.contact-form{
    padding: 15px;
}
.form-control{
    border-radius: 0!important;
    border: none!important;

}
::placehodler{
    color: #999999!important;
}
.follow{
    background: #fff;
    padding: 10px;
    margin: 15px;
}
.contact-info .fa{
    color: #007bff;
    margin: 10px;
    font-weight: bold;
}
/* footer */
#footer{
    text-align: center;
    background-color: #333333;
    padding: 10px;
    color: #fff;
}
